@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanalei+Fill&display=swap');

.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
  position: relative;
}

.fighter-preview___left {
  align-items: flex-start;
  position: relative;
}

.fighter-preview___right__message {
  font-size: 3.5em;
  color: rgb(250, 35, 35);
  font-family: 'Faster One', cursive;
  text-align: center;
  position: fixed;
  bottom: 235px;
}
.name{
  font-family: 'Bungee Shade', cursive;
  font-size: 2em;
  color: red;
  position: absolute;
  top: -55px;
}

.ability{
  font-family: 'Hanalei Fill', cursive;
  font-size: 1.6em;
  color: #ffffff;
}


